<div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-lg-3 fr-col-12 fr-text--center">
         <img src="{{.Site.BaseURL}}images/{{.Get `image` }}" class="fr-responsive-img" alt="{{.Get `alt` }}" />  
        <h4>{{.Get `titre` }}</h4>
        <p>{{.Get `texte` }}</p>
      </div>
            <div class="fr-col-lg-3 fr-col-12 fr-text--center">
         <img src="{{.Site.BaseURL}}images/{{.Get `image` }}" class="fr-responsive-img" alt="{{.Get `alt` }}" />  
        <h4>Analyser</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
 </div>
