<!-- container accueil html html -->
		<div class="fr-grid-row fr-grid-row--gutters fr-pt-5w" >
			<div class="fr-col-12 fr-col-lg-5"> 
			<h2 class="fr-mt-3w fr-mt-md-5w fr-mb-5w">{{.Get `texte` }}</h2>
			     
			 </div>
			 
			<div class="fr-col-12 fr-col-lg-3"> 
					
			 <img src="{{.Site.BaseURL}}images/{{.Get `image` }}" class="fr-responsive-img" alt="{{.Get `alt` }}" />     
				                     
	
			</div>
			</div>
			<div class="fr-col-12 fr-col-lg-4">   </div>
			
				
	  		
	

