<!-- code de la page    -->


<script type="text/javascript" nomodule href="{{ $.Site.BaseURL }}js/legacy/legacy.nomodule.min.js" ></script>

<script type="module" href="{{ $.Site.BaseURL }}js/core/core.module.min.js" ></script>
<script type="text/javascript" nomodule href="{{ $.Site.BaseURL }}js/core/core.nomodule.min.js" ></script>

<script type="module" href="{{ $.Site.BaseURL }}js/navigation/navigation.module.min.js" ></script>
<script type="text/javascript" nomodule href="{{ $.Site.BaseURL }}js/navigation/navigation.nomodule.min.js" ></script>

<script type="module" href="{{ $.Site.BaseURL }}js/button/button.module.min.js" ></script>
<script type="text/javascript" nomodule href="{{ $.Site.BaseURL }}js/button/button.nomodule.min.js" ></script>

<script type="module" href="{{ $.Site.BaseURL }}js/modal/modal.module.min.js" ></script>
<script type="text/javascript" nomodule href="{{ $.Site.BaseURL }}js/modal/modal.nomodule.min.js" ></script>

<script type="module" href="{{ $.Site.BaseURL }}js/header/header.module.min.js" ></script>
<script type="text/javascript" nomodule href="{{ $.Site.BaseURL }}js/header/header.nomodule.min.js" ></script>

<script type="module" src="{{ $.Site.BaseURL }}js/dsfr.module.min.js"></script>
<script type="text/javascript" nomodule src="{{ $.Site.BaseURL }}js/dsfr.nomodule.min.js"></script>

<script type="module" href="{{ $.Site.BaseURL }}js/accordion/accordion.module.min.js" ></script>
<script type="text/javascript" nomodule href="{{ $.Site.BaseURL }}js/accordion/accordion.nomodule.min.js" ></script>

<script type="module" href="{{ $.Site.BaseURL }}js/download/download.module.min.js" ></script>
<script type="text/javascript" nomodule href="{{ $.Site.BaseURL }}js/download/download.nomodule.min.js" ></script>