<link rel="icon" href="{{ $.Site.BaseURL }}favicon/favicon.svg">
<link rel="shortcut icon" href="{{ $.Site.BaseURL }}favicon/favicon.svg">



	<!-- Les css dsfr sont dans le thème static/ -->
    <link href="{{ $.Site.BaseURL }}dist/utility/utility.main.css" rel="stylesheet" file="main">
    <link href="{{ $.Site.BaseURL }}dist/dsfr.main.css" rel="stylesheet" file="main">
    <link href="{{ $.Site.BaseURL }}dist/utility/utility.legacy.css" rel="stylesheet" file="legacy">
    <link href="{{ $.Site.BaseURL }}dist/dsfr.legacy.css" rel="stylesheet" file="legacy">

	<!--Bootstrap icons -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">